
UL {
	list-style-type: none;
	padding-left: 16px;
	/*height: 15px;*/
}

LI.dir {
	background: transparent url("folder.png") no-repeat 15px 0px;
}

LI.dir span.desc {
	padding-left: 17px;
}

span.file {
	position: absolute;
	padding-left: 3px;
	width: 400px;
}


LI {
	/*height: 15px;*/
	/*padding-left: 10px;*/
	/*line-height: 10px;*/
}

input {
	margin: 0px;
}